html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
button {
  font-size: 32px;
  border: none;
  border-radius: 15px;
  padding: 20px;
  color: black;
  background: white;
}
button:hover {
  color: white;
  background: black;
}